<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="/static/css/main.css" rel="stylesheet">

    <title>Flask Web Service</title>
</head>
<body>
    <div class="intro-wrapper">
        <div class="intro-wrapper-content">
            <h1>
                {% block pageTitle %}
                    Flask
                {% endblock  %}
            </h1>

            <p>
                Welcome to flask
            </p>
        </div>
    </div>
</body>
</html>